.col-divider {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-divider {
    height: 85%;
  }
}
.welcome-form-wrapper {
  width: 50%;
  margin: auto;
  .welcome-form-header {
    display: flex;
    justify-content: space-between;
  }
}
